* {
  box-sizing: border-box;
}
.login-screen-logo {
  position: absolute;
  top: 135px;
  width: 80%;
  margin-left: 10%;
}
input {
  position: absolute;
  background: #ffffff;
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  border-radius: 8px;
  width: 80%;
  height: 52px;
  margin-left: 10%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #7e7e7e;
}
input::placeholder {
  position: absolute;
  left: 11px;
  right: 11px;
  top: 34.62%;
  bottom: 34.62%;
}
.login-email-input {
  top: 283px;
}
.login-password-input {
  top: 351px;
}
.signup-name-input {
  top: 147px;
}
.signup-cpf-input {
  top: 215px;
}
.signup-email-input {
  top: 283px;
}
.signup-password-input {
  top: 351px;
}
.subscriptions-card-name-input{
  top: 397px;
}
.subscriptions-card-number-input{
  top: 457px;
}
.subscriptions-card-security-code-input{
  width: 48.5%;
  left: -10%;
}
.subscriptions-card-expiring-date-input{
  width: 48.5%;
  right: 0px;
}
button {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 122px;

  width: 80%;
  height: 52px;
  margin-left: 10%;

  background: #ff4791;
  border-radius: 8px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  color: #ffffff;

  border: none;
}
.login-enter-button {
  top: 427px;
}
.signup-button {
  top: 427px;
}
.purchase-button{
  top: 581px;
}
.cancel-button{
  width: 100%;
  height: 52px;
  margin-left: 0;
  bottom: 0;

  background: #ff4747;
}
.change-button{
  width: 100%;
  height: 52px;
  margin-left: 0;
  top: 0;

  background: #ff4791;
}
.perk-button{
  width: 100%;
  height: 52px;
  margin-left: 0;

  background: #ff4791;
}
.link {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 80%;
  height: 16px;
  margin-left: 10%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;

  color: #ffffff;
}
.login-link {
  top: 503px;
}
.signup-link {
  top: 503px;
}
main {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #0e0e13;
  overflow-y: scroll;
  color: #ffffff;
}
.section-title-span {
  position: absolute;
  top: 29px;
  left: 10%;
  width: 80%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;

  color: #ffffff;
}
.subscriptions-container {
  position: absolute;
  top: 91px;
  bottom: 16px;
  left: 10%;
  width: 80%;
  height: calc(100% - 107px);
}
.subscription {
  display: flex;
  align-items: center;

  width: 100%;
  height: 180px;

  margin-bottom: 10px;

  border: 3px solid #7e7e7e;
  box-sizing: border-box;
  border-radius: 12px;
}
.short-logo {
  margin-left: 16px;
  width: 46.5%;
  max-height: 160px;
}
.price {
  margin-left: 20px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  color: #ffffff;
}
.half-input-container {
  position: absolute;
  top: 517px;
  bottom: 98px;
  left: 10%;
  width: 80%;
}
.subscription-logo-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  top: 87px;
  left: 33.5%;
  width: 33%;
  min-width: 165px;
}
.subscription-logo{
  height: 65%;
}
.subscription-logo-span{
  

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;


color: #FFFFFF;
}
.subscriptions-info-container {
  position: absolute;
  top: 254px;
  bottom: 16px;
  left: 10%;
  width: 80%;
}
.price-span{
  color: #FFFFFF;
}
.subscription-price{
  color: #FFFFFF;
}
.price-container{
  position: absolute;
  top: 254px;
  bottom: 16px;
  left: 10%;
  width: 80%;
}
.back-arrow{
  color: #FFFFFF;
}
.membership-actions-container{
  position: absolute;
  top: 543px;
  bottom: 12px;
  left: 10%;
  width: 80%;
}
.membership-perks-container{
  position: absolute;
  display: flex;
  flex-direction: space-between;
  align-items: center;
  top: 176px;
  bottom: 155px;
  left: 10%;
  width: 80%;
}
.home-subscription-logo{
  position: absolute;
  top: 30px;
  left: 30px;
  height: 100px;
}